<ul class="listContent">
  <%= render @user %>
<li class="usersBio">
  <h4>Bio:</h4>
  <%= @user.bio %>
</li>

<% @posts.each do |post| %>
<li class="usersPost">
  <h4><%= link_to post.title, user_post_path(post.user_id, post.id,), class: "linkItem" %></h4>
  <p><%= post.text %></p>
  <p class="commentLikeCounters">
    Comments: <%= post.comments_counter %>,
    Likes: <%= post.likes_counter %>
  </p>
</li>
<% end %>
</ul>

<button class="seeAllBtn" type="button"><%= link_to "See all posts", user_posts_path(@user) %></button>
