  <tr>
    <td>
      <h3>Post #<%= post.title %></h3>
      <p><%= post.text %></p>
      <% comments.each do |comment| %>
      <p>
      <%= render "comments/comment", comment: comment %>
     </p>
      <% end %>
    </td>
    <td>
      <p style="padding: 40px 0 0 30px;">
        Comments: <% if post.comments.count > 0 %>
         <%= post.comments_counter %>,
         <% else %>
         0
         <% end %>
        Likes: <% if post.likes.count > 0 %>
        <%= post.likes_counter %>,
        <% else %>
        0
        <% end %>
      </p>
    </td>
  </tr>
