  <tr>
    <td>
      <h3>Post #<%= post.title %></h3>
      <p><%= post.text %></p>
      <% comments.each do |comment| %>
      <p>
      <%= render "comments/comment", comment: comment %>
     </p>
      <% end %>
    </td>
    <td>
      <p style="padding: 40px 0 0 30px;">
        Comments: <%= post.comments_counter %>,
        Likes: <%= post.likes_counter %>
      </p>
    </td>
  </tr>
