<li class="usersPost">
  <h4>Post #<%= link_to post.title, post, class: "linkItem" %></h4>
  <p><%= post.text %></p>
  <% comments.each do |comment| %>
  <p><%= render "comments/comment", comment: comment %></p>
  <% end %>

  <p class="commentLikeCounters">
    Comments: <%= post.comments_counter ? post.comments_counter : 0 %>
    Likes: <%= post.likes_counter ? post.likes_counter : 0 %>
  </p>
</li>
