<h1>New post</h1>

<%= form_with model: [@user, @user.posts.build], method: :post do |form| %>

  <div>
    <%= form.label :title, style: "display: block" %>
    <%= form.text_field :title %>
  </div>

  <div>
    <%= form.label :text, style: "display: block" %>
    <%= form.text_area :text %>
  </div>

  <div>
    <%= form.submit "New Post" %>
  </div>
<% end %>
