<section class="postShowSection">
<div class="postShowHeader">
  <h3>Post #<%= @post.title %> by <i><%= @post.user.name %></i></h3>
  <p>
    Comments: <%= @post.comments_counter ? @post.comments_counter : 0 %>
    Likes: <%= @post.likes_counter ? @post.likes_counter : 0 %>
  </p>
</div>
  <p><%= @post.text %></p>
  <% @comments.each do |comment| %>
  <p>
  <%= render "comments/comment", comment: comment %>
 </p>
  <% end %>

    <%= form_with model: Comment, url: user_post_comments_path(@post.user, @post), method: :post do |form| %>
    <div>
      <%= form.label :text, style: "display: block" %>
      <%= form.text_field :text %>
    </div>

    <div>
      <%= form.submit "New Comment" %>
    </div>
    <% end %>

    <%= form_with model: Like, url: user_post_likes_path(@post.user, @post), method: :post do |form| %>
    <div>
      <%= form.submit "Add Like" %>
    </div>
    <% end %>

    <%= button_to "Destroy this post", { action: :destroy, id: @post.id }, method: :delete %>

</section>
